package layout

templ Base() {
    <html>
        <head>
            <title>My Notes App GO+TEMPL</title>
        </head>
        <body>
            This is the base template
            { children... }
        </body>
    </html>
}